<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<appSettings>
		<add key="browserstack.user" value="stephenrandall1"/>
		<add key="browserstack.key" value="jN8bztWGmu7gxq76ZpjY"/>
		<add key="browserstack.hub" value="http://hub.browserstack.com:80/wd/hub/"/>
    <add key="browserstack.proxyHost" value="wcbcproxy"/>
    <add key="browserstack.proxyPort" value="8080"/>
    <add key="os_name" value="WINDOWS"/>
    <add key="os_version" value="8.1"/>
    <add key="browser_name" value="Chrome"/>
    <add key="browser_version" value="22"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<specFlow>
		<unitTestProvider name="NUnit" />
	</specFlow>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>
</configuration>